@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NOSOTROS</h1>
   <h5 class="display-5">Quienes somos:</h5>

<h5 class="display-5">Creamos productos masivos como soporte de una revolución de experiencias donde cuestionar lo establecido nos mantiene despiertos. </h5>

<h5 class="display-5"> -------------------------------- </h5>


<h5 class="display-5">Servicios y productos:</h5>

<h5 class="display-5">Asesoramiento promocion y organizacion de eventos mediaticos congresos y similares. </h5>

<img src="/imagen/PIRANIA.jpg ">







 
</div>
